<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Web Service: Functional Tests">
    <test name = "Cocktail WebService Tests">
        <classes>
            <class name = "com.cocktail.api.searchIngredientByNameTest"/>
            <class name = "com.cocktail.api.searchCocktailByNameTest"/>
        </classes>
    </test>
</suite>